*~
appendix/compressible.aux
chapters/amr.aux
chapters/bio_transport.aux
chapters/compressible_flows.aux
chapters/conclusions.aux
chapters/introduction.aux
chapters/parallel.aux
defense/defense.aux
defense/defense.bbl
defense/defense.blg
defense/defense.log
defense/defense.nav
defense/defense.out
defense/defense.pdf
defense/defense.snm
defense/defense.toc
defense/post_defense.aux
defense/post_defense.bbl
defense/post_defense.blg
defense/post_defense.log
defense/post_defense.nav
defense/post_defense.out
defense/post_defense.pdf
defense/post_defense.snm
defense/post_defense.toc
dissertation.aux
dissertation.bbl
dissertation.blg
dissertation.loa
dissertation.lof
dissertation.log
dissertation.lot
dissertation.out
dissertation.pdf
dissertation.toc
vitae/vitae.log
